# ~~~~~ Day 15 ~~~~~ 
## Part 1

In [20]:
import numpy as np

with open('d15.txt', 'r') as f:
    content = f.readlines()

data = [[int(c) for c in list(d.strip('\n'))] for d in content]
world = np.asarray(data)

world

array([[6, 8, 5, ..., 8, 9, 8],
       [9, 4, 2, ..., 6, 8, 1],
       [3, 7, 9, ..., 9, 7, 7],
       ...,
       [2, 1, 2, ..., 1, 9, 7],
       [7, 8, 6, ..., 2, 2, 7],
       [8, 8, 8, ..., 3, 9, 4]])

In [21]:
cost = np.empty(shape=world.shape, dtype=float)
cost[:] = np.nan

def get_min_cost(y, x):
    if x == 0 and y == 0: return -world[0, 0]
    a = np.asarray([
        cost[y-1, x] if y>0 else np.nan,
        cost[y+1, x] if y<cost.shape[0]-1 else np.nan,
        cost[y, x-1] if x>0 else np.nan,
        cost[y, x+1] if x<cost.shape[1]-1 else np.nan
    ])
    m = np.nanmin(a)
    return m
            

for y in range(0, cost.shape[0]):
    for x in range(0, cost.shape[1]):
        cost[y, x] = get_min_cost(y, x) + world[y, x]
    for x in range(cost.shape[1]-1, -1, -1):
        cost[y, x] = get_min_cost(y, x) + world[y, x]
        
cost

array([[  0.,   8.,  13., ..., 571., 580., 588.],
       [  9.,  12.,  14., ..., 549., 557., 558.],
       [ 12.,  19.,  23., ..., 547., 554., 561.],
       ...,
       [464., 462., 461., ..., 702., 711., 713.],
       [471., 470., 467., ..., 704., 706., 713.],
       [479., 478., 475., ..., 707., 715., 717.]])

## Part 2

In [22]:
a = np.copy(world) - 1
world2 = np.ndarray(shape=(0,0))
for y in range(0, 5):
    a += 1
    a[a == 10] = 1
    b = np.copy(a)
    row = [np.copy(b)]
    for x in range(0, 4):
        b += 1
        b[b == 10] = 1
        row.append(np.copy(b))
    if world2.shape[0] == 0:
        world2 = np.hstack(row)
    else:
        world2 = np.vstack([world2, np.hstack(row)])

world2.shape

(500, 500)

In [24]:
cost = np.empty(shape=world2.shape, dtype=float)
cost[:] = np.nan

def get_min_cost(y, x):
    if x == 0 and y == 0: return -world[0, 0]
    a = np.asarray([
        cost[y-1, x] if y>0 else np.nan,
        cost[y+1, x] if y<cost.shape[0]-1 else np.nan,
        cost[y, x-1] if x>0 else np.nan,
        cost[y, x+1] if x<cost.shape[1]-1 else np.nan
    ])
    m = np.nanmin(a)
    return m
            

for i in range(0, 2): # to get the lower cell values
    for y in range(0, cost.shape[0]):
        for x in range(0, cost.shape[1]):
            cost[y, x] = get_min_cost(y, x) + world2[y, x]
        for x in range(cost.shape[1]-1, -1, -1):
            cost[y, x] = get_min_cost(y, x) + world2[y, x]
   
cost

array([[   0.,    8.,   13., ..., 2282., 2286., 2289.],
       [   9.,   12.,   14., ..., 2167., 2170., 2175.],
       [  12.,   19.,   23., ..., 2137., 2139., 2141.],
       ...,
       [1738., 1735., 1733., ..., 2984., 2984., 2984.],
       [1738., 1736., 1733., ..., 2985., 2985., 2990.],
       [1741., 1739., 1736., ..., 2987., 2993., 2993.]])